#!/bin/bash
cd /tmp
wget http://downloads.suricata-ids.org/suricata-{{ version }}.tar.gz
tar xvzf suricata-{{ version }}.tar.gz
cd suricata-{{ version }}
./configure --prefix=/usr --sysconfdir=/etc && make && make install-full
groupadd suri
adduser suri -g suri
mkdir -p {{ log_dir }}
chown -R suri:suri {{ log_dir }}
chown -R suri:suri /etc/suricata

