# cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root: StrongPassword
  expire: False

users:
  - name: tiago
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqLZyucd6RnRjLGbELxJu1fCEzqd3oynXo2PmZJtDtw7yqSI2qiurjkng0rW4CmvTy8wPfH3NUlRDo9IMAHepwG2GFCsHksQrSCf0TCfckOzxDYySh3vcFXVdVs0o7Dv2ADDyZTUQyfBJoVyh3CGi4mBmKj6CFCC09/o1ntbCyhTdIGNLtK0Zb26fmf1ZdCwcNNnkyk0BO3BGBvfYg0G2qg0OPkONkZcXrKkEP9nSHAJboZW0pIPPNjn6y4d4YBTlq9cwDV/99eUTv/LoaR5X8+NDRjuE2ojxQx5OQGOI0aelJUx+LzuEI4ORVGcIhYQCHOYH9waMI2Ca8dJRFz7Sj tiago.lima@dft-sp-wkn789
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel
