[Unit]
Description=Compton compositor
Wants=multi-user.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/compton
ExecStop=pkill compton
Restart=on-failure

[Install]
WantedBy=multi-user.target
