[Unit]
Description=Mosh Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/mosh-server
ExecStop=pkill mosh
Restart=on-failure

[Install]
WantedBy=multi-user.target
