[Unit]
Description=Mosh Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/mosh-server
Restart=always
# User=someUser

[Install]
WantedBy=multi-user.target
