*.crt
*.key
data/**
*~
*.swp
*.retry
*.log
*.txt
*.env
*.wants/
*.retry
.idea/
.ropeproject/
__pycache__/
*.pyc
cloud-config.yaml
*.NEW
*.img
*.BKP
root/
boot/
authorized_keys
.terraform/
*tfstate*
**/vars/main.yml
