[Unit]
Description=Updates gnome wallpaper

[Timer]
Persistent=true
OnCalendar=*-*-* 08:00:00
Unit=cycle-wallpaper.service

[Install]
WantedBy=timers.target
