[Unit]
Description=Updates gnome wallpaper

[Service]
Type=oneshot
WorkingDirectory=/storage/src/pyshots/pyshots
ExecStart=%h/.pyenv/versions/pyshots/bin/python download_wallpaper.py

# BELOW IS COMMENTED BECAUSE IT WILL BE INSTALLED BY THE TIMER UNIT
# [Install]
# WantedBy=default.target
