version: '2'
services:
  portainer:
    image: portainer/portainer
    container_name: portainer
    privileged: true
    restart: unless-stopped
    command: --ssl --sslcert /certs/portainer.crt --sslkey /certs/portainer.key --host=unix:///var/run/docker.sock
    ports:
      - 9000:9000
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/etc/localtime:/etc/localtime"
      - "/certificates/portainer/certificate.crt:/certs/portainer.crt"
      - "/certificates/portainer/private.key:/certs/portainer.key"
      - PORTAINER_DATA:/data
volumes:
  PORTAINER_DATA:
    driver: local
