# https://medium.com/@xavier.priour/secure-traefik-dashboard-with-https-and-password-in-docker-5b657e2aa15f
version: "3"
services:
  traefik:
    image: traefik:1.7-alpine
    container_name: traefik
    privileged: true
    restart: unless-stopped
    labels:
      - traefik.frontend.rule=Host:traefik.example.com
      - traefik.port=8080
      - traefik.enable=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/etc/traefik/traefik.toml
      - ./certs:/certs
    ports:
      # only expose https to outside world
      - 443:443
    expose:
      # traefik dashboard port, expose locally
      - 8080
