defaultEntryPoints = ["https"]
logLevel = "INFO"

[docker]
  endpoint = "unix:///var/run/docker.sock"
  exposedByDefault = false


# enabling api is not absolutely necessary, it is needed only if you need dashboard.
[api]
  dashboard = true
  entrypoint = "dashboard"


[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"

  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]
      [[entryPoints.https.tls.certificates]]
      certFile = "/certs/tls.crt"
      keyFile = "/certs/tls.key"


  [entryPoints.dashboard]
  address = ":8080"

    [entryPoints.dashboard.auth.basic]
    # admin/secret
    users = ["admin:{{ traefik_password }}"]


[file]

# rules
[backends]
  [backends.netdata]
    [backends.netdata.servers]
      [backends.netdata.servers.server0]
        url = "http://1.1.1.1:19999"
        weight = 10
  [backends.prometheus]
    [backends.prometheus.servers]
      [backends.prometheus.servers.server0]
        url = "http://1.1.1.1:9090"
        weight = 10
  [backends.alertmanager]
    [backends.alertmanager.servers]
      [backends.alertmanager.servers.server0]
        url = "http://1.1.1.1:9093"
        weight = 10

# Frontends
[frontends]
  [frontends.netdata]
    # entryPoints = ["https"]
    backend = "netdata"
    # passHostHeader = true
    [frontends.netdata.routes]
      [frontends.netdata.routes.route0]
        rule = "Host:netdata.example.com"
  [frontends.prometheus]
    # entryPoints = ["https"]
    backend = "prometheus"
    # passHostHeader = true
    [frontends.prometheus.routes]
      [frontends.prometheus.routes.route0]
        rule = "Host:prometheus.example.com"
  [frontends.alertmanager]
    # entryPoints = ["https"]
    backend = "alertmanager"
    # passHostHeader = true
    [frontends.alertmanager.routes]
      [frontends.alertmanager.routes.route0]
        rule = "Host:alertmanager.example.com"
