[Unit]
Description=Suricata IDS
After=network.target
Requires=network.target
Documentation=man:suricata(8) man:suricatasc(8)
Documentation=https://suricata-ids.org/docs/

[Service]
Type=forking
# "TimeoutStartSec=0" to turn off timeouts, as daemons may take a while to start.
TimeoutStartSec=0 
Restart=on-failure
RestartSec=10s
TimeoutSec=300
Environment="LD_LIBRARY_PATH=/usr/lib"
PIDFile=/var/run/suricata.pid
ExecStart=/usr/bin/suricata -D --af-packet -c /etc/suricata/suricata.yaml --pidfile /var/run/suricata.pid
ExecReload=/usr/bin/suricatasc -c reload-rules ; /bin/kill -HUP $(cat /var/run/suricata.pid)
ExecStop=/usr/bin/suricatasc -c shutdown
Restart=on-failure
# https://www.reddit.com/r/linux/comments/27cjcl/systemd_protecthome_and_protectsystem_directives/
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
