[Unit]
Description=sar (sysstat) daily report timer

[Timer]
Persistent=true
OnCalendar=*-*-* 08:25:00
Unit=sar-report-daily.service

[Install]
WantedBy=timers.target
